<!DOCTYPE html>
<html>
<head>
    <title>Новый игрок</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script>
        $(function () {
            player="<%= playerName %>";
            emiter=false;
            var socket = io(window.location.origin);
            $('#playPL').click(function () {
                emiter=true;
                socket.emit('playWithOthers', {playerName:player , gametype: "pl"});
                var button = $('#playPL');
                button.html('<i class="fa fa-spinner fa-spin"></i>&nbsp&nbspОжидание других игроков');
                button.attr("disabled","disabled");
            });
            socket.on('waitForPlayers', function (data) {
                if(emiter){
                $('#playPL').tooltip({
                    placement: 'right', trigger: 'manual',
                    title: 'Вы можете подождать, либо начать игру с компъютером'
                }).tooltip('show');
                  //  $('#playPL').attr("disabled","disabled");
                $("#plh").val(data);
                }
                else{
                    $('#playPL').append("<span class='badge'>1</span>");
                }
            });
            socket.on('goPlay',function (data) {
              //  (player==data); ?
                var v=$("#plh").val();
                 $("#plh").val(data);
                $('#playPLform').submit();
            });

        });
    </script>

</head>
<body>
<div class="jumbotron">
    <h1 class="text-center">Добро пожаловать <%= playerName %></h1>
    <div class="instruction">
        <h2 class="instruction">Правила игры RandZU</h2>
        <h3 class="instruction">Основные правила</h3>
        <h4 class="instruction">
            <p class="lead">
                Играют два соперника: один чёрными фишками (камнями), другой — белыми.
                Игра проходит на расчерченной в клетку доске размером 15 на 15 линий.
            </p>
            <p class="lead">
                Игроки делают ходы по очереди. Первыми ходят чёрные.
                Каждым ходом игрок выставляет на доску в любое свободное пересечение линий доски один камень своего
                цвета.
            </p>
            <p class="lead">
                Побеждает тот, кто сможет первым построить непрерывный ряд из пяти камней своего цвета — по горизонтали,
                по вертикали или в диагональном направлении.
            </p>
        </h4>
    </div>
    <div class="text-center">
        <form method="post" action="/play">
            <input name="gametype" value="cp" hidden>
            <input name="pname" value="<%= playerName %>" hidden>
            <input id="cph" name="competitorName" value="CPU" hidden>
            <button id="playCPU" type="submit" class="btn btn-success btn-lg">Играть с компъютером</button>
        </form>
        <form method="post" action="/play" id="playPLform">
            <input name="gametype" value="pl" hidden>
            <input name="pname" value="<%= playerName %>" hidden>
            <input id="plh" name="competitorName" value="" hidden>
        </form>
        <button id="playPL" type="button" class="btn btn-success btn-lg">Играть с другими игроками
            <% if(waitingRooms > 0){ %>
            <span class="badge"><%= waitingRooms %></span>
                <% } %>
        </button>
    </div>
</div>
</body>
</html>